@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  font-family: Inter;
  color: #363B49;
}

/* bootstrap styles  */
p {
  margin: 0;
}

/* navigation */

.blue-font {
  color: #3D5DE2;
}

.nav-tabs {
  border-bottom: none;
}


.nav-link {
  color: #7E869B;
  font-weight: 400;
}


.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: #7E869B;
}

.nav-tabs .nav-link.active {
  border-color: transparent;
  color: #3D5DE2;
  border-bottom: 1px solid #3D5DE2;
}

.nav-tabs .nav-link.sub-tabs.active {
  color: #000;
  border-bottom: none;
}


/* accordion */

.accordion-item {
  border: none;
  max-width: 90%;
  border-top: 1px solid #EBF1F4;
  border-bottom: 1px solid #EBF1F4;
  margin: 15px auto;
}

.accordion-box-shadow {
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.accordion-button::after {
  color: #7E869B;
}

.accordion-button {
  position: relative;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto auto;
  gap: 6px 31px;
}

.accordion-button::after {
  position: absolute;
  right: 10px;
}

.flight-time,
.flight-number {
  grid-row: 1;
}

.flight-status,
.flight-iata {
  grid-row: 2;
}

.accordion-button:focus {
  border-color: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.st0 {
  stroke: #7d869b;
}

button.active .st0 {
  stroke: #3D5DE2;
}

.flight-time {
  font-weight: 500;
}

.flight-number {
  color: #3D5DE2;
  font-weight: 500;
}


.flight-dep-iata {
  border-radius: 4px;
  background: #F2F2F2;
  padding: 4px;
}

.accordion-body {
  position: relative;
}

.accordion-body-header {
  border: 1px solid #EBF1F4;
  padding: 10px;
}


.flight-line {
  position: relative;
  width: 70%;
  height: 1px;
  background: #7E869B;
}

.flight-line::before,
.flight-line::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #7E869B;
  transform: translate(0%, -50%);
}

.flight-line::after {
  right: 0;
}

.flight-line img {
  position: absolute;
  transform: translate(5px, -50%);
}

.flight-status {
  background: #F7EDED;
  color: #B7524D;
  padding: 4px 8px;
  font-size: 13px;
  width: fit-content;
}

.flight-status.cancelled {
  background: #B7524D;
  color: #F7EDED;
}

.flight-status.landed {
  background: #4DB752;
  color: #EDF7ED;
}

.flight-status.active {
  background: #4D6FB7;
  color: #EDF7ED;
}

.flight-status.scheduled {
  background: #B7B74D;
  color: #EDF7ED;
}

.airport-code {
  background: #F2F2F2;
  padding: 4px 5px;
  border-radius: 3px;
}

.flight-delay {
  font-size: 14px;
}

/* media */

@media screen and (max-width:768px) {
  .flight-status {
    position: absolute;
    padding: 2px 30px;
    top: -6%;
    left: 6%;
  }

  .accordion-body {
    padding: 12px;
  }

  .flight-line {
    width: 100%;
  }

  .accordion-item {
    border: none;
  }
}